.local {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullScreen {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(65, 60, 60, 0.731);
  display: flex;
  align-items: center;
  justify-content: center;
}
