button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  margin: 3px;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition:
    background 0.2s ease,
    opacity 0.2s ease;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* primary */
button--primary {
  background: var(--primary);
  color: white;
}

button--primary:hover:not(:disabled) {
  background: var(--primary-hover);
}

/* secondary */
button--secondary {
  background: transparent;
  color: var(--text);
  border: 1px solid var(--border);
}

button--secondary:hover:not(:disabled) {
  background: var(--bg-soft);
}
