/* @import "tailwindcss"; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--color-text);
  font-size: large;
}

h3 {
  font-size: 1.1rem;
}

h1,
h2,
h3 {
  margin-bottom: 0.75rem;
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
  color: var(--color-muted);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: var(--color-text);
  transition:
    border-bottom-color 0.2s ease,
    transform 0.3s ease,
    color 0.2s ease;
}

a:hover {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  transform: translateY(-1px);
}
