/* @import "tailwindcss"; */

/* *,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: Inter, sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}
