.container {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.714);
  z-index: 4;
  animation: drop-down 0.4s cubic-bezier(0.15, 0.75, 0.35, 1);
}

.container a {
  color: aliceblue;
}

@keyframes drop-down {
  0% {
    transform: translateY(-100vh); /* старт сверху */
  }
  100% {
    transform: translateY(0); /* конечное положение */
  }
}
