.theme-toggle {
  display: inline-grid;
  place-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--color-bg);
  box-shadow: 0 2px 5px var(--color-accent);
  cursor: pointer;
  overflow: hidden;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}

.theme-toggle::before,
.theme-toggle::after {
  grid-area: 1 / 1;
  white-space: nowrap;
  font-size: var(--font-size-xxl);
  transition: transform 0.3s ease;
}

.theme-toggle::before {
  content: "🌞";
  transform: translate(-8px, 140%);
}

.theme-toggle::after {
  content: "🌙";
  transform: translate(-8px, -140%);
}

.themeLabel::after {
  content: "Светлая";
}

:root[data-theme="dark"] .themeLabel::after {
  content: "Тёмная";
}

:root[data-theme="light"] .theme-toggle::before {
  transform: translate(-8px, 0);
}

:root[data-theme="dark"] .theme-toggle::after {
  transform: translate(-8px, 0);
}

.theme-toggle:hover {
  transform: scale(1.1);
  background: var(--color-accent);
}
