.theme-toggle {
  position: relative;
  display: inline-grid;
  place-items: center;
  overflow: hidden;
  cursor: pointer;
  padding: var(--space-2);
}

/* контейнер для измерения ширины */
.theme-toggle::before,
.theme-toggle::after {
  grid-area: 1 / 1;
  white-space: nowrap;
  font-size: var(--font-size-lg);
  transition: transform 0.3s ease;
}

/* Light */
.theme-toggle::before {
  content: "🌙";
  transform: translateX(-130%);
}

/* Dark */
.theme-toggle::after {
  content: "☀️";
  transform: translateX(130%);
}

:root[data-theme="light"] .theme-toggle::before {
  transform: translateX(0);
}

:root[data-theme="dark"] .theme-toggle::after {
  transform: translateX(0);
}
