.feedEnd {
  margin-bottom: 350px;
}

.end {
  text-align: center;
}

.fadeUp {
  animation: fadeUp both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

@keyframes fadeUp {
  from {
    filter: saturate(0) contrast(4) brightness(0.1) blur(5px);
    opacity: 0;
    scale: 0.95;
    translate: 0 4rem;
  }
  to {
    filter: none;
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}
